<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/movie.css">
    <title><%= data?data.title:'Error' %></title>
</head>
<body>
    <%- include('./partials/header') %>
    <% if(error) { %>
        <h2 class="error">
            <%= error %>
        </h2>
    <% } %>
        <% if(data) { %> 
            <% var img1="http://image.tmdb.org/t/p/w500" +data.poster_path 
               var img2="http://image.tmdb.org/t/p/original" +data.backdrop_path %>
            <div class="background">
                <img src="<%= img2 %>" alt="">
            </div>
            <div class="container">
                <div class="movie-page">
                    <div class="poster-img">
                        <img alt="poster" src="<%=img1 %>">
                    </div>
                    <div class="details">
                        <% let date, title, lastdate
                            if(type === 'tv') {
                                date = data.first_air_date
                                title = data.name
                                lastdate = data.last_air_date
                            } else {
                                date = data.release_date
                                title = data.title
                            }
                         %>
                        <% const year = date.substring(0,4)
                           const endyear = lastdate? lastdate.substring(0,4):0 %>
                        <div class="title"> <%= `${title} (${year}${endyear?` - ${endyear}`:""})` %> </div>
                        <p align="left">
                            Date:
                            <b>
                                <%=date%>
                            </b>
                        </p>
                        <p>
                            Genre:
                            <% data.genres.forEach(genre => {%>
                                <b><%=genre.name%> </b>
                            <%}); %>
                        </p>
                        <p>
                            Duration: <b>
                                <%=data.runtime%>min
                            </b>
                        </p>
                        <p>
                            Adult: <b>
                                <%=data.adult%>
                            </b>
                        </p>
                        <p>
                            Original language: <b>
                                <%=data.original_language%>
                            </b>
                        </p>
                        <h4>
                            Tagline: <b>
                                <%=data.tagline%>
                            </b>
                        </h4>
                        <h4>
                            Overview:</h4>
                        <p>
                            <%=data.overview%>
                        </p>
                    </div>
                </div>
            </div>
        <% } %>
            
</body>
</html>