<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popular.css">
    <title>MoviesWorld</title>
</head>

<body>
    <%- include("./partials/header") %>
    <div class="container">
        <h1 class="heading">Most Popular Movies</h1>
        <div class="most-popular">
            <% results && results.forEach(result=> { %>
                <div class="item">
                    <% poster_image="http://image.tmdb.org/t/p/w500" +result.poster_path %>
                    <a href="/search/<%= type %>/<%= result.id %>">
                        <div class="img-container">
                            <div class="rating" title="Rating">
                                <%= result.vote_average*10 %>%
                            </div>
                            <% if(result.poster_path==undefined){ %>
                                <img class='poster'
                                    src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Noimage.svg/739px-Noimage.svg.png'
                                    alt="Card image cap">
                            <% } else { %>
                                <img class='poster' src=<%=poster_image %> alt="poster">
                            <% } %>
                        </div>
                        <div class="title">
                            <%
                                let year, title
                                if(type === 'movie') {
                                    year= result.release_date && result.release_date.substring(0,4)
                                    title = result.title
                                } else if(type === 'tv') {
                                    year= result.first_air_date && result.first_air_date.substring(0,4)
                                    title = result.name
                                }
                                // const year=result.release_date && result.release_date.substring(0,4) 
                                // const title=result.title 
                            %>
                            <h4>
                                <%= `${title} (${year})` %>
                            </h4>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</body>

</html>